.station-block {
    display: flex;
    border: none;
    flex-direction: row;
    background: #ececec;
    margin: 8px 0;
    border-radius: 10px 10px 10px 10px;
}

.station-block span {
    vertical-align: center;
    height: auto;
    font-size: 24px;
    max-width: 400px;
    margin: auto 2px auto 8px;
}

.button-station-block {
    display: block;
    border: none;
}

.button-station-block button {
    display: flex;
    border: none;
    outline: 0;
    color: #000;
    background: lightgray;
    cursor: pointer;
}

.button-station-right {
    display: block;
    margin-left: auto;
}

.button-station-right button {
    display: flex;
    border: none;
    outline: 0;
    color: #000;
    font-size: 22px;
    background: lightgray;
    border-radius: 0 10px 10px 0;
    text-align: center;
    cursor: pointer;
}

.button-station-right button:hover {
    background: #bfbfbf;
}

.button-station-right button:active {
    background: #9f9f9f;
}

.button-station-block button:hover {
    background: #bfbfbf;
}

.button-station-block button:active {
    background: #9f9f9f;
}